### FNF-Specific
# File used for the NG API. Should not be shared with others.
APIStuff.hx
art/buildScripts/build_x32-officialrelease.bat
art/buildScripts/build_x64-officialrelease.bat
art/buildScripts/test_x64-debug-officialrelease.bat

### VS Code
export/*
.vscode/*
.haxelib/
.github/
*.code-workspace
vs_Community.exe
.history
.ionide
*.DS_Store
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
art/build_html.bat
art/build_html-debug.bat
